<ul class="fil-ariane">
    <li>
        <a routerLink="/users">Menu</a>
    </li>
    <li>
        <a class="actif">Client</a>
    </li>
</ul>
<h1>Clients</h1>
<div class="boutons-container">
    <ng-container *ngIf="isDirty"><button mat-raised-button (click)="envoiForm()">Valider</button> </ng-container>
    <button mat-raised-button color="primary" (click)="onDetails()" [disabled]="isDirty">Details</button>
    <ng-container *ngIf="role === 'ROLE_ADMIN'">
        <button mat-raised-button color="accent" (click)="onAjouter()" [disabled]="isDirty">Ajouter</button>
        <button mat-raised-button color="warn" (click)="onSupprimer()" [disabled]="isDirty">Supprimer</button>
    </ng-container>
</div>
<mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="Filter" (keyup)="rechercheTableau($event.target.value)">
</mat-form-field>
<ng-container *ngIf="screenWidth >= 1024 else mobile">
<div class="mat-elevation-z2">
    <table class="customTable">
        <thead>
        <tr class="customTable-tr">
            <th></th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>
            <th>Téléphone</th>
            <th>Adresse</th>
            <th>Code Postal</th>
            <th>Ville</th>
        </tr>
        </thead>
        <tbody [formGroup]="elementForm">
        <ng-container formArrayName="elements" *ngFor="let control of elements.controls; let i = index;">
            <tr class="customTable-tr" [formGroupName]="i" [ngClass]="{'selected': elementSelectionne && elementSelectionne === control.value}">
                <td><mat-checkbox class="checkbox" color="primary" (change)="changeElementSelectionne(control.value, $event)" [checked]="elementSelectionne === control.value"></mat-checkbox></td>
                <td><input  (keyup)="changeIsDirty()" id="input-des-{{i}}" [inputReadOnly]="role === 'ROLE_ADMIN'" formControlName="nom" placeholder="Nom"></td>
                <td><input  (keyup)="changeIsDirty()" [inputReadOnly]="role === 'ROLE_ADMIN'" formControlName="prenom" placeholder="Prenom"></td>
                <td><input  (keyup)="changeIsDirty()" [inputReadOnly]="role === 'ROLE_ADMIN'" formControlName="email" placeholder="Email"></td>
                <td><input  (keyup)="changeIsDirty()" [inputReadOnly]="role === 'ROLE_ADMIN'" formControlName="telephone" placeholder="Téléphone"></td>
                <td><input  (keyup)="changeIsDirty()" [inputReadOnly]="role === 'ROLE_ADMIN'" formControlName="adresse" placeholder="Adresse"></td>
                <td><input  (keyup)="changeIsDirty()" class="codePostal" maxlength="5" [inputReadOnly]="role === 'ROLE_ADMIN'" formControlName="codePostal" placeholder="CP"></td>
                <td><input  (keyup)="changeIsDirty()" class="ville" [inputReadOnly]="role === 'ROLE_ADMIN'" formControlName="ville" placeholder="Ville"></td>
            </tr>
        </ng-container>
        </tbody>
    </table>
    <div class="tableau-paginator">
        <select [(ngModel)]="nbElements" (change)="initTableau()">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        <mat-icon svgIcon="left" (click)="pagination('left')"></mat-icon>
        <p>page {{pageCourante}} / {{nbPage}}</p>
        <mat-icon svgIcon="right" (click)="pagination('right')"></mat-icon>
    </div>
</div>
</ng-container>
<!-- version mobile / tablette -->
<ng-template #mobile>
    <form [formGroup]="elementForm" class="flex">
        <ng-container formArrayName="elements" *ngFor="let control of elements.controls; let i = index;">
            <div class="contenaire selectionable" [formGroupName]="i" (click)="changeElementSelectionne(control.value)"
                 [ngClass]="{'selected': elementSelectionne && elementSelectionne === control.value}">
                <input  (keyup)="changeIsDirty()" [inputReadOnly]="role === 'ROLE_ADMIN'" class="readOnly h2-like" formControlName="nom" placeholder="Nom">
                <input  (keyup)="changeIsDirty()" [inputReadOnly]="role === 'ROLE_ADMIN'" class="readOnly h2-like" formControlName="prenom" placeholder="Prenom">
                <input  (keyup)="changeIsDirty()" [inputReadOnly]="role === 'ROLE_ADMIN'" formControlName="email" placeholder="Email">
                <input  (keyup)="changeIsDirty()" [inputReadOnly]="role === 'ROLE_ADMIN'" formControlName="telephone" placeholder="Téléphone">
                <input  (keyup)="changeIsDirty()" [inputReadOnly]="role === 'ROLE_ADMIN'" formControlName="adresse" placeholder="Adresse">
                <div class="adresse">
                    <input  (keyup)="changeIsDirty()" [inputReadOnly]="role === 'ROLE_ADMIN'" class="codePostal" maxlength="5" [disabled]="role !== 'ROLE_ADMIN'"
                           formControlName="codePostal" placeholder="CP">
                    <input  (keyup)="changeIsDirty()" [inputReadOnly]="role === 'ROLE_ADMIN'" class="ville" formControlName="ville" placeholder="Ville">
                </div>
            </div>
        </ng-container>
    </form>
</ng-template>
