<mat-toolbar color="primary" class="mat-elevation-z6" xmlns="http://www.w3.org/1999/html">
    <p routerLink="" class="acueil">mycompanyhelper</p>
    <div class="flex-spacer"></div>
    <ng-container *ngIf="screenWidth >= 768 else mobile">
        <button mat-button routerLink="/annonces">Annonces fournisseurs</button>
        <button mat-button routerLink="/connexion">Connexion</button>
    </ng-container>
    <ng-template #mobile>
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>

        <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/annonces">Annonces fournisseurs</button>
            <button mat-menu-item routerLink="/connexion">Connexion</button>
        </mat-menu>
    </ng-template>
</mat-toolbar>
<main>
    <div class="landing_left">
        <h1>mycompanyhelper</h1>
        <h2>Le meilleur allié pour votre entreprise</h2>
        <p class="landing_text">
            mycompanyhelper, le crm qui vous offre toutes les fonctionnalités pour développer votre entreprise.<br>
            Avec mycompanyhelper, gérez vos stocks, vos clients, vos fournisseurs, créez et envoyez vos factures, soyez
            informé en temps réel, gérez votre planning… et bien plus encore!<br>
            Trouvez de nouveaux fournisseurs sur mycompanyhelper grâce à notre système d'annonces.
        </p>
        <div class="landing_body">
            <figure class="landing_img">
                <img src="assets/ordi.jpg" class="landing_img_back">
                <img src="assets/landing1.png" class="landing_img_front">
            </figure>
            <ul class="landing_list">
                <li>
                    <div class="landing_puce">
                        <img src="assets/produits.svg" alt="produits">
                    </div>
                    <p>
                        Gérez vos stocks et soyez avertis
                        en cas de stock bas
                    </p>
                </li>
                <li>
                    <div class="landing_puce">
                        <img src="assets/clients.svg" alt="clients">
                    </div>
                    <p>
                        Enregistrez vos clients et suivez
                        leurs achats
                    </p>
                </li>
                <li>
                    <div class="landing_puce">
                        <img src="assets/fournisseurs.svg" alt="fournisseurs">
                    </div>
                    <p>
                        Enregistrez vos fournisseurs et
                        contactez-les facilement
                    </p>
                </li>
                <li>
                    <div class="landing_puce">
                        <img src="assets/calendrier.svg" alt="calendrier">
                    </div>
                    <p>
                        Gérez votre planning et recevez un
                        rappel de vos événements
                    </p>
                </li>
                <li>
                    <div class="landing_puce">
                        <img src="assets/annonces.svg" alt="annonces">
                    </div>
                    <p>
                        Contactez de nouveaux fournisseurs
                        en répondant à leurs annonces
                    </p>
                </li>
                <li>
                    <div class="landing_puce">
                        <img src="assets/factures.svg" alt="factures">
                    </div>
                    <p>
                        Créez, téléchargez et envoyez
                        vos factures
                    </p>
                </li>
                <li>
                    <div class="landing_puce">
                        <img src="assets/dashboard.svg" alt="dashboard">
                    </div>
                    <p>
                        toutes les données de votre
                        entreprise en un coup d'œil
                    </p>
                </li>
            </ul>
            <ng-container *ngIf="screenWidth >= 1024 && screenWidth < 1440">
                <div class="body_right">
                    <h3>Essais gratuit</h3>
                    <p>
                        Testez gratuitement mycompanyhelper
                        pendant 30 jours sans engagement.
                    </p>
                    <app-inscription></app-inscription>
                </div>
                <div class="clear"></div>
            </ng-container>
        </div>
    </div>
    <ng-container *ngIf="screenWidth < 1024 || screenWidth >= 1440">
        <div class="landing_right">
            <h3>Essais gratuit</h3>
            <p>
                Testez gratuitement mycompanyhelper
                pendant 30 jours sans engagement.
            </p>
            <app-inscription></app-inscription>
        </div>
    </ng-container>
</main>
