table{
  margin: 20px 0;
}

table, thead, tr, th, tbody, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}

.sortie{
  float: right;
}

.changement{
  h2{
    font-size: 1rem;
    margin-bottom: 10px;
  }

  p{
    margin-bottom: 10px;
  }
}

.smallText{
  font-size: 10px;
  margin: 10px 0;
}
