<ul class="fil-ariane">
    <li>
        <a routerLink="/users">Menu</a>
    </li>
    <li>
        <a class="actif">Créer un facture</a>
    </li>
</ul>
<h1>Créer une Facture</h1>
<div class="factureForm">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <ng-template matStepperIcon="edit">
            <mat-icon svgIcon="edit"></mat-icon>
        </ng-template>
        <mat-step [stepControl]="clientForm">
            <form [formGroup]="clientForm">
                <ng-template matStepLabel>Choisissez un client</ng-template>
                <mat-form-field>
                    <mat-select placeholder="Client" formControlName="client">
                        <mat-option *ngFor="let client of clients" [value]="client">
                            {{client.nom}} {{client.prenom}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="produitsForm">
            <form [formGroup]="produitsForm">
                <ng-template matStepLabel>Ajouter des produits</ng-template>
                <div formArrayName="produits"
                     *ngFor="let control of produits.controls; let i = index;">
                    <div [formGroupName]="i">
                        <ng-container *ngIf="screenWidth >= 1440 else mobile">
                            <table class="profuitForm">
                                <td>
                                    <mat-form-field>
                                        <input type="text" placeholder="produit" matInput formControlName="produit"
                                               [matAutocomplete]="auto">
                                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                            <mat-option *ngFor="let produit of listeProduits" [value]="produit">
                                                {{produit.designation}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field>
                                        <input matInput type="number" placeholder="Quantitée" formControlName="quantite" min="0"
                                               max="{{control.value.produit.quantite}}">
                                        <mat-hint align="end" *ngIf="control.value.produit">{{control.value.quantite}}
                                            / {{control.value.produit.quantite}} en stock
                                        </mat-hint>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <button mat-raised-button (click)="supprimerProduit(i)">supprimer</button>
                                </td>
                            </table>
                        </ng-container>
                        <ng-template #mobile>
                            <mat-form-field class="example-full-width">
                                <input type="text" placeholder="produit" matInput formControlName="produit"
                                       [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                    <mat-option *ngFor="let produit of listeProduits" [value]="produit">
                                        {{produit.designation}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput type="number" placeholder="Quantitée" formControlName="quantite" min="0"
                                       max="{{control.value.produit.quantite}}">
                                <mat-hint align="end" *ngIf="control.value.produit">{{control.value.quantite}}
                                    / {{control.value.produit.quantite}} en stock
                                </mat-hint>
                            </mat-form-field>
                            <button mat-raised-button (click)="supprimerProduit(i)">supprimer</button>
                        </ng-template>
                    </div>
                </div>
                <button mat-button (click)="addProduit()">ajouter un produit</button>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Fin</ng-template>
            Votre facture est prête.
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
                <button mat-button (click)="onSubmit()" [disabled]="enCour">envoyer</button>
                <button mat-button (click)="generatePDF()">enregistrer</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>
<div class="factureVue mat-elevation-z12">
    <div id="facture" class="facturePdf">
        <div class="detailClient">
            <ng-container *ngIf="clientForm.value.client else vide">
                <p>{{clientForm.value.client.nom}} {{clientForm.value.client.prenom}}</p>
                <p>{{clientForm.value.client.adresse}}</p>
                <p>{{clientForm.value.client.codePostal}} {{clientForm.value.client.ville}}</p>
            </ng-container>
            <ng-template #vide>
                <p style="color: #fff;">p</p>
            </ng-template>
        </div>
        <div *ngIf="entreprise" class="entreprise">
            <p>{{entreprise.nom}}</p>
            <p>siret : {{entreprise.siret}}</p>
            <p>{{entreprise.adresse}}</p>
            <p>{{entreprise.codePostal}} {{entreprise.ville}}</p>
            <p>{{entreprise.telephone}}</p>
            <p>{{entreprise.email}}</p>
        </div>
        <div class="clear"></div>
        <div class="body">
            <h3>Facture</h3>
            <table>
                <thead>
                <tr>
                    <th>produit</th>
                    <th>prix unitaire</th>
                    <th>quantitée</th>
                    <th>Prix</th>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let control of produits.controls">
                    <ng-container *ngIf="control.value.produit">
                        <tr>
                            <td>{{control.value.produit.designation}}</td>
                            <td>{{control.value.produit.prixVente}}€</td>
                            <td>{{control.value.quantite}}</td>
                            <td>{{control.value.produit.prixVente * control.value.quantite}}€</td>
                        </tr>
                    </ng-container>
                </ng-container>
                </tbody>
            </table>
            <ng-container *ngIf="produits.controls[0].value.produit">
                <p class="align-right">
                    Total HT : {{getTotalHT(produits.controls)}} €
                </p>
            </ng-container>
            <ng-container *ngIf="tvaExist(produits.controls, 2.1)">
                <p class="align-right">
                    TVA à 2.1% : {{getTotalTva(produits.controls, 2.1)}} €
                </p>
            </ng-container>
            <ng-container *ngIf="tvaExist(produits.controls, 5.5)">
                <p class="align-right">
                    TVA à 5.5% : {{getTotalTva(produits.controls, 5.5)}} €
                </p>
            </ng-container>
            <ng-container *ngIf="tvaExist(produits.controls, 10)">
                <p class="align-right">
                    TVA à 10% : {{getTotalTva(produits.controls, 10)}}  €
                </p>
            </ng-container>
            <ng-container *ngIf="tvaExist(produits.controls, 20)">
                <p class="align-right">
                    TVA à 20% : {{getTotalTva(produits.controls, 20)}} €
                </p>
            </ng-container>
            <ng-container *ngIf="produits.controls[0].value.produit">
                <p class="align-right">
                    Total TTC : {{getTotalTTC(produits.controls)}} €
                </p>
            </ng-container>
        </div>
    </div>
</div>
<div class="clear"></div>
