.factureVue {
  margin-top: 20px;
  min-height: 400px;
  border: 1px solid black;
}

.facturePdf{
  padding: 40px 20px;
  height: 29.7cm;
}

img{
  width: 100%;
}

.detailClient{
  float: left;
  width: 40%;
}

mat-radio-button {
  margin-right: 10px;
  margin-bottom: 10px;
}

.entreprise{
  float: left;
  width: 40%;
  text-align: right;
}

.logo{
  float: left;
  width: 20%;
}

.conditions_generales{
  font-size: 12px;
  margin-top: 20px;
}

.buttons{
  margin-top: 20px;
}

button{
  margin-right: 10px;
}

table {
  width: 100%;
  margin-top: 15px;
}

.body table, .body tr, .body thead, .body th, .body tbody, .body td {
  border: 1px solid black;
  border-collapse: collapse;
}

.body th, .body td {
  padding: 5px;
  text-align: center;
}

.body h3 {
  text-align: center;
  margin: 20px 0;
}

.borderNone{
  border: none !important;
}

@media screen and (min-width: 1024px) {
  .factureForm {
    width: 45%;
    float: left;
  }

  .factureVue {
    width: 50%;
    min-height: 700px;
    float: right;
  }

  .body th, .body td {
    padding: 15px;
  }
}
