<ul class="fil-ariane">
    <li>
        <a routerLink="/users">Menu</a>
    </li>
    <li>
        <a class="actif">Créer un facture</a>
    </li>
</ul>
<h1>Créer une Facture</h1>
<div class="factureForm">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <ng-template matStepperIcon="edit">
            <mat-icon svgIcon="edit"></mat-icon>
        </ng-template>
        <mat-step [stepControl]="devisForm">
        <form [formGroup]="devisForm">
            <ng-template matStepLabel>Type</ng-template>
            <mat-radio-group aria-label="Voulez-vous créer une facture ou un devis?" formControlName="type">
                <mat-radio-button color="primary" value="Facture">Facture</mat-radio-button>
                <mat-radio-button color="primary" value="Devis">Devis</mat-radio-button>
            </mat-radio-group>
            <div>
                <button mat-raised-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
        <mat-step [stepControl]="clientForm">
            <form [formGroup]="clientForm">
                <ng-template matStepLabel>Client</ng-template>
                <mat-form-field>
                    <mat-select placeholder="Client" formControlName="client">
                        <mat-option *ngFor="let client of clients" [value]="client">
                            {{client.nom}} {{client.prenom}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <div class="buttons">
                    <button mat-raised-button matStepperPrevious>Back</button>
                    <button mat-raised-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="produitsForm">
                <ng-template matStepLabel>Produits/prestations</ng-template>
            <form [formGroup]="produitsForm">
                <div formArrayName="produits"
                     *ngFor="let control of produits.controls; let i = index;">
                    <div [formGroupName]="i">
                        <ng-container *ngIf="screenWidth >= 1440 else mobile">
                            <table class="profuitForm">
                                <td>
                                    <mat-form-field>
                                        <input type="text" placeholder="produit" matInput formControlName="produit"
                                               [matAutocomplete]="auto">
                                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                            <mat-option *ngFor="let produit of listeProduits" [value]="produit">
                                                {{produit.designation}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field>
                                        <input matInput type="number" placeholder="Quantitée" formControlName="quantite" min="0"
                                               max="{{control.value.produit.quantite}}">
                                        <mat-hint align="end" *ngIf="control.value.produit">{{control.value.quantite}}
                                            / {{control.value.produit.quantite}} en stock
                                        </mat-hint>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <button mat-raised-button (click)="supprimerProduit(i)">supprimer</button>
                                </td>
                            </table>
                        </ng-container>
                        <ng-template #mobile>
                            <mat-form-field class="example-full-width">
                                <input type="text" placeholder="produit" matInput formControlName="produit"
                                       [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                    <mat-option *ngFor="let produit of listeProduits" [value]="produit">
                                        {{produit.designation}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput type="number" placeholder="Quantitée" formControlName="quantite" min="0"
                                       max="{{control.value.produit.quantite}}">
                                <mat-hint align="end" *ngIf="control.value.produit">{{control.value.quantite}}
                                    / {{control.value.produit.quantite}} en stock
                                </mat-hint>
                            </mat-form-field>
                            <button mat-raised-button (click)="supprimerProduit(i)">supprimer</button>
                        </ng-template>
                    </div>
                </div>
            </form>
            <form [formGroup]="prestationsForm">
                <div formArrayName="prestations"
                     *ngFor="let control of prestations.controls; let i = index;">
                    <div [formGroupName]="i">
                        <ng-container *ngIf="screenWidth >= 1440 else mobile">
                            <table class="profuitForm">
                                <td>
                                    <mat-form-field>
                                        <input type="text" placeholder="prestation" matInput formControlName="prestation"
                                               [matAutocomplete]="auto">
                                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                            <mat-option *ngFor="let prestation of listePrestations" [value]="prestation">
                                                {{prestation.designation}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </mat-form-field>
                                </td>
                                <td>
                                    <mat-form-field>
                                        <input matInput type="number" placeholder="Quantitée" formControlName="quantite" min="0">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <button mat-raised-button (click)="supprimerPrestation(i)">supprimer</button>
                                </td>
                            </table>
                        </ng-container>
                        <ng-template #mobile>
                            <mat-form-field class="example-full-width">
                                <input type="text" placeholder="prestation" matInput formControlName="prestation"
                                       [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                                    <mat-option *ngFor="let prestation of listePrestations" [value]="prestation">
                                        {{prestation.designation}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input matInput type="number" placeholder="Quantitée" formControlName="quantite" min="0">
                            </mat-form-field>
                            <button mat-raised-button (click)="supprimerPrestation(i)">supprimer</button>
                        </ng-template>
                    </div>
                </div>
            </form>
                <button mat-raised-button (click)="addProduit()">ajouter un produit</button>
                <button mat-raised-button (click)="addPrestation()">ajouter une prestation</button>
                <div class="buttons">
                    <button mat-raised-button matStepperPrevious>Back</button>
                    <button mat-raised-button matStepperNext>Next</button>
                </div>
        </mat-step>
        <mat-step [stepControl]="remiseForm">
        <form [formGroup]="remiseForm">
            <ng-template matStepLabel>Remise</ng-template>
            <mat-form-field>
                <input matInput type="number" placeholder="Remise en % (optionnel)" formControlName="remise">
            </mat-form-field>
            <div class="buttons">
                <button mat-raised-button matStepperPrevious>Back</button>
                <button mat-raised-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
        <mat-step>
            <ng-template matStepLabel>Envoi</ng-template>
            Votre facture est prête.
            <div class="buttons">
                <button mat-raised-button matStepperPrevious>Back</button>
                <button mat-raised-button (click)="stepper.reset()">Reset</button>
                <button mat-raised-button (click)="onSubmit()">Envoyer mail</button>
                <button mat-raised-button (click)="generatePDF()">enregistrer PDF</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
</div>
<div class="factureVue mat-elevation-z12">
    <div id="facture" class="facturePdf">
        <div class="detailClient">
            <ng-container *ngIf="clientForm.value.client else vide">
                <p>{{clientForm.value.client.nom}} {{clientForm.value.client.prenom}}</p>
                <p>{{clientForm.value.client.adresse}}</p>
                <p>{{clientForm.value.client.codePostal}} {{clientForm.value.client.ville}}</p>
            </ng-container>
            <ng-template #vide>
                <p style="color: #fff;">p</p>
            </ng-template>
        </div>
        <ng-container *ngIf="entreprise">
<!--            <figure class="logo">-->
<!--                <img src="https://back.mycompanyhelper.com/api/entreprise/files/{{entreprise.logo}}" alt="{{entreprise.logo}}">-->
<!--            </figure>-->
            <div class="entreprise">
                <p>{{entreprise.nom}}</p>
                <p>siret : {{entreprise.siret}}</p>
                <p>{{entreprise.adresse}}</p>
                <p>{{entreprise.codePostal}} {{entreprise.ville}}</p>
                <p>{{entreprise.telephone}}</p>
                <p>{{entreprise.email}}</p>
            </div>
        </ng-container>
        <div class="clear"></div>
        <div class="body">
            <h3>{{devisForm.value.type}} n° {{numero}}</h3>
            <p>{{date | date: "dd-MM-yyyy"}}</p>
            <table>
                <thead>
                <tr>
                    <th>produit</th>
                    <th>prix unitaire</th>
                    <th>quantitée</th>
                    <th>Prix</th>
                    <ng-container *ngIf="!sansTva(produits.controls, prestations.controls)">
                        <th>TVA</th>
                    </ng-container>
                </tr>
                </thead>
                <tbody>
                <ng-container *ngFor="let control of produits.controls">
                    <ng-container *ngIf="control.value.produit">
                        <tr>
                            <td>{{control.value.produit.designation}}</td>
                            <td>{{control.value.produit.prixVente}}€</td>
                            <td>{{control.value.quantite}}</td>
                            <td>{{control.value.produit.prixVente * control.value.quantite}}€</td>
                            <ng-container *ngIf="!sansTva(produits.controls, prestations.controls)">
                                <td>{{control.value.produit.tva}}%</td>
                            </ng-container>
                        </tr>
                    </ng-container>
                </ng-container>
                <ng-container *ngFor="let control of prestations.controls">
                    <ng-container *ngIf="control.value.prestation">
                        <tr>
                            <td>{{control.value.prestation.designation}}</td>
                            <td>{{control.value.prestation.prix}}€/{{control.value.prestation.unitee}}</td>
                            <td>{{control.value.quantite}} {{control.value.prestation.unitee}}</td>
                            <td>{{control.value.prestation.prix * control.value.quantite}}€</td>
                            <ng-container *ngIf="!sansTva(produits.controls, prestations.controls)">
                                <td>{{control.value.prestation.tva}}%</td>
                            </ng-container>
                        </tr>
                    </ng-container>
                </ng-container>
                </tbody>
            </table>
            <ng-container *ngIf="produits.controls[0] && produits.controls[0].value.produit || prestations.controls[0] && prestations.controls[0].value.prestation">
                <p class="align-right">
                    Total HT : {{getTotalHT(produits.controls, prestations.controls)}} €
                </p>
            </ng-container>
            <ng-container *ngIf="tvaExist(produits.controls, prestations.controls, 2.1)">
                <p class="align-right">
                    Total TVA à 2.1% : {{getTotalTva(produits.controls, prestations.controls, 2.1)}} €
                </p>
            </ng-container>
            <ng-container *ngIf="tvaExist(produits.controls, prestations.controls, 5.5)">
                <p class="align-right">
                    Total TVA à 5.5% : {{getTotalTva(produits.controls, prestations.controls, 5.5)}} €
                </p>
            </ng-container>
            <ng-container *ngIf="tvaExist(produits.controls,prestations.controls,10)">
                <p class="align-right">
                    Total TVA à 10% : {{getTotalTva(produits.controls, prestations.controls, 10)}}  €
                </p>
            </ng-container>
            <ng-container *ngIf="tvaExist(produits.controls,prestations.controls,20)">
                <p class="align-right">
                    Total TVA à 20% : {{getTotalTva(produits.controls, prestations.controls, 20)}} €
                </p>
            </ng-container>
            <ng-container *ngIf="+remiseForm.value.remise > 0">
                <p class="align-right">
                    Remise : {{remiseForm.value.remise}} %
                </p>
            </ng-container>
            <ng-container *ngIf="produits.controls[0] && produits.controls[0].value.produit || prestations.controls[0] && prestations.controls[0].value.prestation">
                <p class="align-right">
                    Total TTC : {{getTotalTTC(produits.controls, prestations.controls)}} €
                </p>
            </ng-container>
            <ng-container *ngIf="sansTva(produits.controls, prestations.controls)">
                <p>TVA non applicable, art. 293B du CGI</p>
            </ng-container>
        </div>
        <div class="conditions_generales">
            <p>Payable à 30 jours date de facture</p>
            <p>En cas de retard de paiement, indemnité forfaitaire légale pour frais de recouvrement : 40,00 €</p>
        </div>
    </div>
</div>
<div class="clear"></div>
