table {
  width: 100%;
  margin-top: 15px;
  border-collapse: collapse;
}

.detailClient{
  float: left;
  width: 50%;
}

.entreprise{
  float: left;
  width: 50%;
  text-align: right;
}

.conditions_generales{
  font-size: 12px;
  margin-top: 20px;
}

.facture{
  border: 1px solid black;
  max-width: 759px;
  margin: auto;
}

.facturePdf{
  padding: 40px 20px;
  height: 29.7cm;
  font-size: 0.6rem;
}

.body table, .body tr, .body thead, .body th, .body tbody, .body td{
  border: 1px solid black;
}

.body th, .body td{
  padding: 15px;
  text-align: center;
}

.body h3{
  text-align: center;
  margin: 20px 0;
}

.total{
  text-align: right;
  width: 80%;
  margin: 10px auto;
}

.boutons-container {
  text-align: right;
}

.boutons-container button {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .facturePdf{
    font-size: inherit;
  }

  .boutons-container {
    margin: 20px 0;
  }
}
