<div class="menu_container">
    <div class="menu_item" routerLink="dashboard">
        <img src="assets/dashboard.svg" alt="dashboard">
        <p>Dashboard</p>
    </div>
    <div class="menu_item" routerLink="produits">
        <img src="assets/produits.svg" alt="produits">
        <p>Produits</p>
    </div>
    <div class="menu_item" routerLink="clients">
        <img src="assets/clients.svg" alt="clients">
        <p>Clients</p>
    </div>
    <div class="menu_item" routerLink="fournisseurs">
        <img src="assets/fournisseurs.svg" alt="fournisseurs">
        <p>Fournisseurs</p>
    </div>
    <div class="menu_item" routerLink="monEntreprise">
        <img src="assets/shop.svg" alt="mon entreprise">
        <p>Mon entreprise</p>
    </div>
    <div class="menu_item" routerLink="creer-facture">
        <img src="assets/factures.svg" alt="créer facture">
        <p>Créer facture</p>
    </div>
    <div class="menu_item" routerLink="calendrier">
        <img src="assets/calendrier.svg" alt="calendrier">
        <p>Calendrier</p>
    </div>
    <div class="menu_item" routerLink="support">
        <img src="assets/support.svg" alt="support">
        <p>Support</p>
    </div>
    <div class="menu_item visibility_none">
    </div>
</div>
