<ul class="fil-ariane">
    <li>
        <a routerLink="/users">Menu</a>
    </li>
    <li>
        <a routerLink="/users/clients">Clients</a>
    </li>
    <li>
        <a class="actif">Détails client {{client.nom}} {{client.prenom}}</a>
    </li>
</ul>
<h1>Détail client</h1>
<ng-container *ngIf="client">
    <div class="details">
        <h3 class="client_nom">{{client.nom}} {{client.prenom}}</h3>
        <div class="contacts">
            <p class="client_email">
                <mat-icon svgIcon="email"></mat-icon>
                {{client.email}}</p>
            <p class="client_tel">
                <mat-icon svgIcon="phone"></mat-icon>
                {{client.telephone}}</p>
        </div>
        <div class="adresse">
            <p>{{client.adresse}}</p>
            <p>{{client.codePostal}} {{client.ville}}</p>
        </div>
    </div>
    <ng-container *ngIf="client && client.factures.length > 0 else empty">
        <app-client-factures [client]="client"></app-client-factures>
    </ng-container>
    <ng-template #empty>
        <h2 class="empty">Ce client n'a aucune facture</h2>
    </ng-template>
</ng-container>
