<ul class="fil-ariane">
    <li>
        <a routerLink="../">Menu</a>
    </li>
    <li>
        <a class="actif">Support</a>
    </li>
</ul>
<h1>Contacter le support</h1>
<div class="container">
    <div class="infos">
        <h2>Avant de contacter le support</h2>
        <p>Avez-vous utilisé notre chatbot <img src="../../../assets/chatbot.PNG" class="chatbot_img" title="chatbot" alt="icone chatbot"> ? il a été programmé pour répondre à toutes les questions de bases</p>
        <p>Pour une réponse rapide, assurez-vous de nous contacter dans les heures ouvrées</p>
        <p>Votre satifaction est notre priorité, notre équipe de support fait tout son possible pour vous répondre dans
            l'heure,
            il se peut néanmoins que le délais soit un peut plus long, veuillez nous en excuser.</p>

        <h3>Heures d'ouverture du support</h3>
        <p>du lundi au vendredi de 8h30 à 19h</p>

        <h3>Contact téléphonique</h3>
        <p>07.86.24.52.24</p>

        <h3>Contact mail</h3>
        <p>support@mycompanyhelper.com</p>
    </div>
    <div class="formulaire">
        <h2>Formulaire de contact</h2>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="Sujet" formControlName="sujet">
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <textarea matInput placeholder="corps de l'annonce" formControlName="corps" rows="20"></textarea>
            </mat-form-field>
            <button mat-raised-button type="submit">Envoyer</button>
        </form>
    </div>
</div>
