<h1>Changer votre mot de passe</h1>
<form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
        <input matInput [type]="hideMdp1 ? 'password' : 'text'" placeholder="password" formControlName="password1">
        <p class="hide_btn" mat-icon-button matSuffix (mousedown)="hideMdp1 = false" (mouseup)="hideMdp1 = true">
            <mat-icon [svgIcon]="hideMdp1 ? 'hide' : 'nohide'"></mat-icon>
        </p>
    </mat-form-field>
    <div class="passwordBar">
            <password-strength-meter [colors]="['red', 'orange','yellowgreen', 'green']" [password]="passwordForm.value.password1"></password-strength-meter>
            <p [ngStyle]="{'color': mdpUtils.verifCapitale(passwordForm)}">Contient 1 lettre majuscule</p>
        <p [ngStyle]="{'color': mdpUtils.verifMinuscule(passwordForm)}">Contient 1 lettre minuscule</p>
        <p [ngStyle]="{'color': mdpUtils.verifChiffre(passwordForm)}">Contient 1 chiffre</p>
        <p [ngStyle]="{'color': mdpUtils.verifCaractereSpecial(passwordForm)}">Contient 1 caractere spécial</p>
        <p [ngStyle]="{'color': mdpUtils.verifLongueur(passwordForm)}">Contient  au minimum 8 caractere</p>
    </div>
    <mat-form-field class="example-full-width">
        <input matInput [type]="hideMdp2 ? 'password' : 'text'" placeholder="confirmez password" formControlName="password2">
        <p class="hide_btn" mat-icon-button matSuffix (mousedown)="hideMdp2 = false" (mouseup)="hideMdp2 = true">
            <mat-icon [svgIcon]="hideMdp2 ? 'hide' : 'nohide'"></mat-icon>
        </p>
    </mat-form-field>
    <p class="error" *ngIf="passwordForm.value.password2 && passwordForm.controls.password2.invalid">
        Les mots de passe ne sont pas identiques
    </p>
    <button mat-raised-button type="submit" [disabled]="passwordForm.invalid">envoyer</button>
</form>

