<ul class="fil-ariane">
  <li>
    <a routerLink="/users">Menu</a>
  </li>
  <li>
    <a class="actif">Mon entreprise</a>
  </li>
</ul>

<form [formGroup]="entrepriseForm" (ngSubmit)="onSubmit()">
<!--  <mat-checkbox color="primary" class="remember_me" formControlName="microEntreprise" [labelPosition]="'before'">Micro entreprise</mat-checkbox>-->
  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="nom" formControlName="nom">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="adresse" formControlName="adresse">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="codePostal" formControlName="codePostal">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="ville" formControlName="ville">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="siret" formControlName="siret">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="telephone" formControlName="telephone">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput type="text" placeholder="email" formControlName="email">
  </mat-form-field>
  <label for="file" class="img_btn">choisir une image</label>
  <input type="file" id="file" (change)="handleFileInput($event.target.files)" class="img_input"><br>
  <img src="https://back.mycompanyhelper.com/api/entreprise/files/{{entrepriseForm.value.logo}}"
       alt="{{entrepriseForm.value.logo}}"><br>
  <button mat-raised-button type="submit">Valider</button>
</form>
