form{
  width: 50%;
  margin: 20px auto;
}

.img_input{
  display: none;
}

img{
  width: 300px;
  margin: 20px auto;
}

.img_btn{
  background-color: rebeccapurple;
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  font-size: 10px;
}
